/*! style.css | for the project Technomart | HTML Academy */

body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #000000;

	background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	border: none;
}

.button-red {
	padding: 10px 40px;

	font-size: 14px;
	color: #ffffff;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #ee3643;
}

.button-red:hover {
	background-color: #ca2c37;
}

.button-red:focus,
.button-red:active {
	background-color: #ba2732;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	border: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
/* header */

.main-header {
	margin-bottom: 59px;

	background-color: #f4f7f9;
}

.inner-page .main-header {
	margin-bottom: 19px;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header-top {
	width: 100%;

	margin-bottom: 46px;
	background-color: #293449;
}

.main-header-top .container {
	display: flex;
	align-items: center;

	min-height: 42px;
}

.main-logo {
	width: 220px;
	height: 42px;

	text-align: center;

	/*box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);*/
  background-color: #ee3643;
}

.main-logo img {
	padding-top: 12px;
}

.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:focus {
	background-color: #ba2732;
}

.search-form {
	display: flex;
	width: 270px;
}

.search-form .site-search,
.links-list a,
.site-navigation a {
	font-size: 17px;
	line-height: 18px;
}

.search-form .site-search {
	order: 2;
	padding-left: 49px;

	width: 100%;
	height: 40px;

	color: #ffffff;

	background-color: transparent;
	border: none;

	outline: none;
}

.search-form .site-search::placeholder {
  color: inherit;
}

.search-form:hover,
.links-list a:hover {
	background-color: #212a3a;
}

.site-search:focus,
.site-search:focus + button {
	color: inherit;

	background-color: #ffffff;
}

.search-form button {
	padding: 0;

	border: none;
	background: transparent;
	cursor: pointer;

	outline: none;
}

.links-list {
	display: flex;
}

.links-list a {
	padding: 12px 0;

	width: 150px;
	text-align: center;

	outline: none;
}

.links-list a:focus {
	color: rgba(255, 255, 255, 0.6);

	background-color: #161d29;
}

.links-list .link-checkout:hover {
	background-color: #5fbb2d;
}

.links-list .link-checkout:focus {
	color: rgba(255, 255, 255, 0.5);

	background-color: #518534;
}

.links-list a,
.site-navigation a {
  color: #ffffff;
}

.links-list .link-bookmarks,
.links-list .link-cart {
	padding-left: 20px;

	width: 130px;
}

.links-list .link-checkout {
	background-color: #63a63e;
	width: 150px;
}

.link-cart.full,
.link-cart.full:hover,
.link-cart.full:focus {
	background-color: #ee3643;
}

.main-header-bottom {
	width: 100%;
}

.main-header-bottom .container {
	display: flex;
	flex-direction: column;
}

.main-header-bottom nav {
	margin-bottom: 60px;
}

.main-header-bottom .site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding: 0 10px;
  margin: 0;
}

.information-block {
	display: flex;
	justify-content: space-between;

	margin-bottom: 38px;
}

.descriptor {
	margin: 0;
	padding-left: 53px;

	width: 220px;

	font-size: 16px;
	font-style: italic;
  text-align: left;
  color: #ee3643;
}

.main-header-contacts {
	margin-left: -22px;

	width: 270px;

	text-align: center;
}

.main-header-contacts .main-header-phone {
	display: block;
	box-sizing: border-box;
	padding: 10px 0;
	padding-left: 20px;
	margin-bottom: 4px;

  height: 45px;

	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

	border: solid 3px #ffffff;
}

.main-header-contacts .main-header-address {
	margin: 0;

	font-size: 14px;
	color: #32425c;
}

.user-navigation-wrapper {
	display: flex;
	flex-direction: column;

	width: 280px;
}

.user-navigation {
	display: flex;
	justify-content: space-around;

	padding: 0;
	margin: 0;

	font-size: 21px;
	line-height: 21px;
}

.user-navigation,
.user-subnavigation,
.site-navigation {
	list-style: none;
}

.user-navigation a {
	display: block;
	padding: 12px 0px;

	color: inherit;

	background-color: #fff;
	outline: none;
}

.user-navigation .login-link {
	padding-left: 46px;
  padding-right: 26px;
}

.user-navigation .registration-link {
	padding: 12px 24px;
}

.user-navigation .account-link {

}

.user-navigation .logout-link {
	padding: 0 20px;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:focus,
.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation .account-link:hover {
	color: inherit;
}

.user-navigation .account-link:focus,
.user-subnavigation a:focus,
.user-navigation .account-link:active,
.user-subnavigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-navigation .account-link::before {
	content: "";

	background: url(../img/icon-user.svg) no-repeat;
}

.user-navigation .logout-link::after {
	content: "";

	background: url(../img/icon-logout.svg) no-repeat;
}

.user-navigation .account-link:hover::before,
.user-navigation .account-link:hover::after {

}

.user-navigation .registration-link {
	margin-left: 10px;
}

.user-subnavigation {
	display: flex;

	padding-top: 5px;
	padding-left: 17px;
	margin: 0;

	font-size: 16px;
}

.user-subnavigation a {
	color: #32425c;
	text-decoration: underline;
}

.user-subnavigation .separate-point::before {
	content: "\2022";
	color: rgb(50, 66, 92);
}

.user-subnavigation a:hover{
	color: #ee3643;
}

.site-navigation {
	box-shadow: inset 0px -5px 0 0 rgb(41, 52, 73);
  background-color: #32425c;
}

.site-navigation a {
	display: block;
	padding: 21px 30px;

	outline: none;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus,
.site-navigation a:active {
	background-color: #1d2739;
}

.user-subnavigation-orders {
	padding-right: 15px;
}

.user-subnavigation-office {
	padding-left: 9px;
}

/* end header */

/* section popular*/

.banners {
	list-style: none;
}

.banners li {
	/* Позиционирование */
	/* Блочная модель */
}

.banners h3 {
	/* Позиционирование */
	/* Блочная модель */
	/* Типографика */
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #ffffff;
}

.banners a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: rgb(0, 0, 0, 0.1);
}

.banners a:hover {
	background-color: rgb(0, 0, 0, 0.2);
}

.banners a:focus {
	background-color: rgb(0, 0, 0, 0.3);
}

.banners .banners-material {
	background-color: #ffbf47;
}

.banners .banners-material::after {
	content: "";

	bottom: 27px;
	right: 43px;

	width: 44px;
	height: 65px;

	background: url(../img/icon-1.svg) no-repeat;
	background-size: cover;
}

.banners .banners-instruments {
	background-color: #3bbce3;
}

.banners .banners-devices {
	background-color: #dc91d8;
}

.banners .banners-discount {
	background-color: #8ed78f;
}

.banners .banners-delivery {
	background-color: #ffc047;
}

/* Slider */

.main-slider-controls {

}

.main-slider-control-l {
	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
}

.main-slider-control-l {
	background-image: url("../img/icon-right.svg");
	background-repeat: no-repeat;
}

.main-slider-indicators label {
	cursor: pointer;
}

.main-slider-indicators input {
	display: none;
}

.main-slider-indicators .slider-indicator {

}

.main-slider-list {
	list-style: none;
}

.main-slider-item h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #ffffff;
	text-transform: uppercase;
}

.main-slider-item p {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}


.main-slider-item.slide-1,
.main-slider-item.slide-2  {
	background-color: #a0766b;
	background-size: contain;
	background-repeat: no-repeat;
}

.main-slider-item.slide-1 {
	background-image: url("../img/slider/slide-1.jpg");
}

.main-slider-item.slide-2 {
	background-image: url("../img/slider/slide-2.jpg");
}

/* end Slider */

/* end section popular*/
/* section profitable-offer*/

.slider-controls button {
	border: none;
	background: transparent;
	cursor: pointer;
}

/* end section profitable-offer*/
/* section popular-products about-company*/

.about-company {
	margin-top: 55px;
	margin-bottom: 92px;
}

.about-company .container {
	display: flex;
	justify-content: space-between;
}

.about-company-description {
	width: 520px;
}

.about-company-description p {
	margin-top: 24px;
}

.about-company-contacts {
	width: 300px;
}

.about-company-contacts p {
	margin-bottom: 30px;
}

.about-company-map {
	display: block;

	margin-bottom: 40px;
}

.about-company-button {

}

.popular-products h2,
.popular-manufacturers h2 {
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 30px;
	color: #32425c;
	background-color: #f9f5f0;
}

.manufacturer-list {
	list-style: none;
}

.manufacturer-list li {
	border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.manufacturer-list .manufacturer-list-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.manufacturer-list .manufacturer-list-item:focus,
.manufacturer-list .manufacturer-list-item:active {
	opacity: 0.5;
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services {
	background-color: #f4f8fa;
}

.services h2,
.about-company h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services p,
.about-company p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services-control,
.services-slides {
	list-style: none;
}

.services-control-item input {
	display: none;
}

.services-control-item div {
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	text-transform: none;

	box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.services-control-item-active div {
	color: #32425c;
	box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.services-slides h3 {
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.transport-list {
	display: flex;
	flex-direction: column;
}

.transport-list {
	padding-left: 36px;
	margin-bottom: 24px;

	list-style-type: none;
	font-size: 18px;
	color: #000000;
}

.transport-list li {
	margin-bottom: 17px;
}

/* end section popular-products about-company */
/* catalog */

.filters-and-catalog {
	margin-top: 20px;
}

.filters-and-catalog .container {
	display: flex;
	justify-content: space-between;
}

.filters-and-catalog .filters {
	width: 220px;
}

.filters-and-catalog .catalog {
	width: 700px;
}

.filters-and-catalog h2 {
	font-size: 13px;
	line-height: 18px;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.breadcrumbs a {
	line-height: 18px;
}

.breadcrumbs a,
.breadcrumbs li:last-child {
	color: inherit;
	text-transform: uppercase;
}

.page-title {
	padding: 30px 0 29px 30px;
	margin: 16px 0 0 0;

	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.filters-and-catalog .filters-title {
	margin: 0;
	padding: 10px 20px;

	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	color: inherit;
	text-transform: uppercase;

	background-color: #f7f3ec;
	border-radius: 2px;
}

.parameter-filter fieldset {
	border: none;
}

.parameter-filter legend {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.parameter-filter ul {
	list-style: none;
	font-family: "PTSans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.parameter-filter input:disabled + label {
	color: rgba(0, 0, 0, 0.5);
}

.parameter-filter .filter-button {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: inherit;

	border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.parameter-filter .price-range {

	border-radius: 2px;
	background-color: #f7f3ec;
}

.price-range .toggle-bar {
	background-color: #d7dcde;
}

.price-range .min-toggle,
.price-range .max-toggle {

	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.price-input span {
	font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #444444;
}

.price-input .price-input-min,
.price-input .price-input-max {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;

	border: none;
	background-color: #f7f3ec;
}

.parameter-filter .price-field,
.parameter-filter .manufacturer-field {
	border-bottom: 1px solid #e5e5e5;
}

.manufacturer-field-list input[type="checkbox"] {

}

.manufacturer-field-list label {
}

.sorting-filter {
	border-radius: 2px;

	background-color: #f7f3ec;
}

.sorting-filter h2 {
	margin: 0;
	padding: 10px 20px;

	font-family: "PTSans", Arial, sans-serif;
	color: inherit;
	text-transform: uppercase;
	font-weight: normal;
}

.sorting-filter-list {
	list-style: none;
}

.sorting-filter-list a {
	font-family: "PTSans", Arial, sans-serif;
	color: rgba(0, 0, 0, 0.3);
	line-height: 18px;
	text-transform: uppercase;

	border-bottom: 1px dotted #fc5a8d;
}

.sorting-filter-list a:hover {
	color: inherit;
}

.sorting-filter-list a:focus {
	color: #fc5a8d;
}

.sorting-filter-active a {
	color: #fc5a8d;

	border-bottom: none;
}

.sorting-filter-order a {
	border-bottom: none;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item {
	border: solid 1px #e5e5e5;
	background-color: #ffffff;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item {
	box-sizing: border-box;
	margin-bottom: 20px;

	width: 220px;
	height: 318px;

	font-family: "PTSans", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 20px;
}

.catalog-item-price {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	background-image: url(../img/red-button.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.catalog-item-price.old {
	color: #999999;
	text-decoration: line-through;
	background: none;
}

.purchase-menu {
	list-style: none;
}

.purchase-menu .button-buy,
.purchase-menu .button-bookmarks {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.purchase-menu .button-buy {
	color: #ffffff;

	box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.purchase-menu .button-buy:hover {
  background-color: #5fbb2d;
}

.purchase-menu .button-buy:focus,
.purchase-menu .button-buy:active {
  background-color: #518534;
}

.purchase-menu .button-bookmarks {
	color: #32425c;

	border: solid 3px #63a63e;
	background-color: #ffffff;
}

.purchase-menu .button-bookmarks:hover {
  border: solid 3px #32425c;
}

.purchase-menu .button-bookmarks:focus,
.purchase-menu .button-bookmarks:active {
  opacity: 0.3;
	border: solid 3px #32425c;
}

.paginaction-list {
	list-style: none;
}

.paginaction-list a {
	font-family: "PTSans", Arial, sans-serif;
	text-align: center;
	color: inherit;
	line-height: 18px;
	text-transform: uppercase;

	border: 1px solid #e5e5e5;
}

.paginaction-list a:hover {
	border-color: #bdc6ca;
}

.paginaction-list a:focus,
.paginaction-list a:active {
	border-color: #fc5a8d;
}

.paginaction-item-active a {
	color: #ffffff;

	background-color: #fc5a8d;
}

.about-rotaryhammers {
	background-color: #f4f7f9;
}

.about-rotaryhammers h2 {
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	text-transform: uppercase;
}

.about-rotaryhammers p {
	font-family: "PTSans", Arial, sans-serif;
}
/* end catalog */
/* footer */

.footer-top .container {
	display: flex;
	justify-content: space-between;
}

.footer-middle .container {
	display: flex;
	justify-content: space-between;
}

.footer-bottom .container {
	display: flex;
	justify-content: space-between;
}

.main-footer {
	background-color: #32425c;
}

.footer-navigation,
.information-menu {
	font-size: 18px;

	list-style: none;
}

.footer-navigation {
	display: flex;
}

.information-menu {
	display: flex;
}

.footer-navigation a{
	color: #f1f5f7;
}

.footer-navigation a:hover,
.information-menu a:hover,
.footer-feedback a:hover,
.footer-developed a:hover {
	text-decoration: underline;
}

.footer-navigation a:focus {
	color: rgba(241, 245, 247, 0.5);
}

.information-menu a:focus {
	color: rgba(255, 209, 128, 0.5);
}

.information-menu a {
	color: #ffd180;
}

.footer-middle p,
.footer-middle a {
  font-size: 18px;
	color: #f3f7f8;
}

.footer-bottom {
	background-color: #293449;
}

.footer-bottom .footer-copyright {
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	color: #ffffff;
}

.social-links {
	text-align: center;
	list-style: none;
}

.social-links a {
	color: #ffffff;
}

.social-links a:hover,
.social-links a:focus {
	background-color: #ee3643;
}

.footer-feedback,
.footer-developed {
	color: #ffffff;
	text-align: left;
}

.footer-feedback a,
.footer-developed a {
	color: #ffd180;
}

.footer-feedback a:focus,
.footer-developed a:focus {
	color: #ee3643;
}

/* end footer */
/* Лента new */
.ribbon {
	position: absolute;

	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
}

.banners .ribbon {

}
.catalog-item .ribbon {

}

.ribbon.red {
	border: 30px solid rgba(0, 0, 0, 0);
	border-right: 30px solid rgb(255, 0, 0);
	border-top: 30px solid rgb(255, 0, 0);
}
.ribbon::before {
	content: "new";
	position: absolute;
	transform: rotate(45deg);
	top: -25px;
	left: -5px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: normal;
}

.ribbon:after {
	content: "";
	display: inline-block;
	border-top: 20px solid rgb(255, 255, 255);
	border-bottom: 0px;
	border-left: 20px solid rgba(0, 0, 0, 0);
	position: absolute;
	top: -30px;
	right: -30px;
}

/* end Лента new */
/* modal */

.modal {
	display: none;
}

/* end modal */
