/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*! style.css | for the project Technomart | HTML Academy */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.button {
  padding: 10px 40px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: inherit;
  text-transform: uppercase;

  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.button-red {
  padding: 10px 40px;

  color: #ffffff;

  background-color: #ee3643;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:focus,
.button-red:active {
  background-color: #ba2732;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 59px;

  background-color: #f4f7f9;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.main-header-top {
  width: 100%;
  margin-bottom: 46px;

  background-color: #293449;
}

.main-header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 42px;
}

.main-logo,
.footer-logo {
  position: relative;

  width: 220px;
  height: 42px;

  text-align: center;

  background-color: #ee3643;
}

.main-logo img {
  padding-top: 12px;
}

.main-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
}

.main-logo:focus,
.main-logo:active,
.footer-logo:focus,
.footer-logo:active {
  background-color: #ba2732;
  outline: none;
}

.main-logo:after,
.footer-logo:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;

  width: 220px;
  height: 5px;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
}

.search-form svg {
  position: absolute;

  -webkit-transform: translate(17px, 12px);
  -ms-transform: translate(17px, 12px);
  transform: translate(17px, 12px);
}

.search-form path {
  fill: rgba(255, 255, 255, 0.3);
}

.site-search,
.link-bookmarks,
.link-cart,
.link-checkout,
.site-navigation a {
  font-size: 17px;
  line-height: 18px;
}

.site-search {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 100%;
  height: 40px;
  padding-left: 49px;

  color: #ffffff;

  background-color: transparent;
  border: none;
  outline: none;
}

.search-form .site-search::-webkit-input-placeholder,
.search-form .site-search::-moz-placeholder,
.search-form .site-search::placeholder {
  color: inherit;
}

.search-form .site-search:-ms-input-placeholder {
  color: #ffffff;
}

.search-form:hover,
.link-bookmarks:hover,
.link-cart:hover,
.link-checkout:hover {
  background-color: #212a3a;
}

.search-form:hover path {
  fill: rgba(255, 255, 255, 1.0);
}

.site-search:focus,
.site-search:active,
.site-search:focus + button,
.site-search:active + button {
  color: #000000;

  background-color: #ffffff;
}

.site-search:focus ~ svg path,
.site-search:active ~ svg path {
  fill: rgba(238, 54, 67, 1.0);
}

.search-form button {
  padding: 0;

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.link-bookmarks,
.link-cart,
.link-checkout {
  position: relative;

  width: 150px;
  padding: 12px 0;

  text-align: center;

  outline: none;
}

.link-bookmarks:focus,
.link-cart:focus,
.link-checkout:focus,
.link-bookmarks:active,
.link-cart:active,
.link-checkout:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.link-checkout:hover {
  background-color: #5fbb2d;
}

.link-checkout:focus,
.link-checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.link-bookmarks,
.link-cart,
.link-checkout,
.site-navigation a {
  color: #ffffff;
}

.link-bookmarks,
.link-cart {
  width: 130px;
  padding-left: 20px;
}

.link-checkout {
  width: 150px;

  background-color: #63a63e;
}

.link-cart.full,
.link-cart.full:hover,
.link-cart.full:focus {
  background-color: #ee3643;
}

.link-bookmarks::before,
.link-cart::before {
  content: "";
  position: absolute;

  opacity: 0.3;
}

.link-bookmarks::before {
  left: 16px;

  width: 14px;
  height: 16px;

  background: url("../img/icon-bookmark.svg") no-repeat;
}

.link-cart::before {
  left: 16px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat;
}

.link-bookmarks:hover::before,
.link-cart:hover::before {
  opacity: 1;
}

.main-header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-header-bottom nav {
  margin-bottom: 60px;
}

.main-header-bottom .site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.information-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 39px;
}

.descriptor {
  width: 200px;
  margin: 0;
  padding-top: 3px;
  padding-right: 20px;
  padding-left: 53px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.main-header-contacts {
  width: 270px;
  margin-left: 10px;

  text-align: center;
}

.main-header-phone {
  position: relative;

  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  margin-bottom: 4px;
  padding: 10px 0;
  padding-left: 20px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: solid 3px #ffffff;
}

.main-header-phone::before {
  content: "";
  position: absolute;
  left: 10px;

  width: 19px;
  height: 19px;

  background: url("../img/icon-phone.svg") no-repeat;
  background-size: contain;
}

.main-header-contacts .main-header-address {
  margin: 0;

  font-size: 14px;
  color: #32425c;
}

.user-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 310px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
}

.user-navigation,
.user-subnavigation,
.site-navigation {
  list-style: none;
}

.user-navigation a {
  display: block;
  padding: 12px 0;

  color: inherit;

  background-color: #ffffff;
  outline: none;
}

.user-navigation .login-link {
  margin-left: 30px;
  padding-right: 26px;
  padding-left: 20px;
}

.login-link svg {
  -webkit-transform: translate(-7px, 2px);
  -ms-transform: translate(-7px, 2px);
  transform: translate(-7px, 2px);
}

.login-link:hover path {
  fill: #2e405c;
}

.user-navigation .registration-link {
  margin-left: 10px;
  padding: 12px 24px;
}

.user-navigation .account-link {
  width: 205px;
  margin-left: 10px;
  padding-left: 45px;
}

.user-navigation .logout-link {
  width: 50px;
  height: 21px;
  margin-left: 0;

  background-color: #ffffff;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:focus,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .account-link:hover {
  color: inherit;
}

.account-link:hover path,
.logout-link:hover path {
  fill: #2e405c;
}

.user-navigation .account-link:focus,
.user-subnavigation a:focus,
.user-navigation .account-link:active,
.user-subnavigation a:active {
  color: rgba(0, 0, 0, 0.3);

  outline: none;
}

.account-link svg {
  position: absolute;

  -webkit-transform: translate(-32px, 0px);
  -ms-transform: translate(-32px, 0px);
  transform: translate(-32px, 0px);
}

.logout-link svg {
  position: absolute;

  -webkit-transform: translate(17px, 2px);
  -ms-transform: translate(17px, 2px);
  transform: translate(17px, 2px);
}

.user-navigation .logout-link::after {
  content: "";

  background: url("../img/icon-logout.svg") no-repeat;
}

.user-subnavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 4px;
  padding-left: 27px;

  font-size: 16px;
}

.user-subnavigation a {
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-subnavigation .separate-point::before {
  content: "\2022";

  color: rgb(50, 66, 92);
}

.user-subnavigation a:hover {
  color: #ee3643;
}

.site-navigation {
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 rgb(41, 52, 73);
  box-shadow: inset 0 -5px 0 0 rgb(41, 52, 73);
}

.site-navigation a {
  display: block;
  padding: 20px 30px 23px 30px;

  line-height: 17px;

  outline: none;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus,
.site-navigation a:active {
  background-color: #1d2739;
}

.user-subnavigation-orders {
  padding-right: 15px;
}

.user-subnavigation-office {
  padding-left: 9px;
}

/* end header */

/* section popular*/

.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.banners li {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  height: 123px;
  overflow: hidden;
}

.banners h3 {
  margin-top: 20px;
  margin-bottom: 14px;
  padding-left: 23px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.banners a {
  width: 134px;
  margin-left: 25px;
  padding: 10px 0;

  color: #f0f8ff;

  background-color: rgba(0, 0, 0, 0.1);
}

.banners a:hover {
  background-color: rgb(0, 0, 0, 0.2);
}

.banners a:focus {
  background-color: rgb(0, 0, 0, 0.3);
}

.banners .banners-material {
  background-color: #ffbf47;
}

.banners li::after {
  content: "";
  position: absolute;
  bottom: 27px;

  width: 79px;
  height: 65px;

  background-repeat: no-repeat;
  background-size: contain;
}

.banners .banners-material::after {
  right: 8px;

  background-image: url("../img/icon-1.svg");
}

.banners .banners-instruments::after {
  right: 24px;

  background-image: url("../img/icon-2.svg");
}

.banners .banners-devices::after {
  right: 30px;

  background-image: url("../img/icon-3.svg");
}

.banners .banners-discount::after {
  right: 22px;

  background-image: url("../img/icon-4.svg");
}

.banners .banners-delivery::after {
  right: 30px;

  background-image: url("../img/icon-5.svg");
}

.banners .banners-instruments {
  background-color: #3bbce3;
}

.banners .banners-devices {
  background-color: #dc91d8;
}

.banners .banners-discount {
  background-color: #8ed78f;
}

.banners .banners-delivery {
  margin-top: 20px;

  background-color: #ffc047;
}

.profitable-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 53px;
}

.profitable-offer .banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}

/* Slider */

.main-slider {
  width: 620px;
  margin-right: 20px;
}

.main-slider-controls button,
.main-slider-indicators button {
  padding: 0;

  background: none;
}

.main-slider-controls,
.main-slider-indicators {
  position: absolute;
}

.main-slider-control-l::before,
.main-slider-control-r::before {
  content: "";
  position: absolute;
  top: 114px;

  width: 22px;
  height: 40px;

  cursor: pointer;
}

.main-slider-control-l::before {
  left: 25px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
}

.main-slider-control-r::before {
  left: 578px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
}

.slider-radio-1::before,
.slider-radio-2::before {
  content: "";
  position: absolute;
  top: 220px;

  width: 8px;
  height: 8px;

  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-radio-1::before {
  left: 295px;
}

.slider-radio-2::before {
  left: 315px;
}

.slider-radio-1.active::before,
.slider-radio-2.active::before {
  content: "";
  position: absolute;
  top: 220px;

  width: 8px;
  height: 8px;

  background-color: #ff0000;
  border-radius: 50%;
}

.main-slider-indicators label {
  cursor: pointer;
}

.main-slider-indicators input {
  display: none;
}

.main-slider-list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-slider-item {
  position: absolute;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 620px;
  height: 266px;

  opacity: 0;
}

.slide-show {
  opacity: 1;
}

.slide-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.main-slider-item h2 {
  margin: 0;
  padding: 24px 0 0 24px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.main-slider-item p {
  margin: 0;
  padding: 0 0 100px 25px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.main-slider-item a {
  margin: 22px 400px 22px 25px;
}

.main-slider-item.slide-1,
.main-slider-item.slide-2 {
  width: 100%;

  background-color: #a0766b;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-slider-item.slide-1 {
  background-image: url("../img/slider/slide-2.jpg");
}

.main-slider-item.slide-2 {
  background-image: url("../img/slider/slide-1.jpg");
}

/* end Slider */

/* end section popular*/

/* section profitable-offer*/

.slider-controls button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* end section profitable-offer*/

/* section popular-products about-company*/

.about-company {
  margin-top: 55px;
  margin-bottom: 86px;
}

.about-company .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-company h2 {
  margin-bottom: 12px;
}

.about-company-description {
  width: 520px;
  margin-right: 120px;
}

.about-company-description p {
  margin-top: 24px;
}

.about-company-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
}

.about-company-contacts p {
  width: 180px;
  margin-top: 13px;
  margin-bottom: 30px;
}

.about-company-map {
  display: block;
  margin-bottom: 33px;
}

.popular-manufacturers {
  margin-bottom: 60px;
}

.popular-products-header,
.popular-manufacturers-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 21px;

  background-color: #f9f5f0;
}

.popular-products-header h2,
.popular-manufacturers-header h2 {
  margin-top: 29px;
  margin-bottom: 30px;
}

.popular-products-header .button-red,
.popular-manufacturers-header .button-red {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 24px 0 0;
}

.popular-products-header .button-red {
  padding-right: 54px;
  padding-left: 54px;
}

.popular-manufacturers-header .button-red {
  padding-right: 69px;
  padding-left: 69px;
}

.popular-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popular-products h2,
.popular-manufacturers h2 {
  padding-left: 28px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.manufacturer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;

  list-style: none;
}

.manufacturer-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;

  background-color: #ffffff;
  border: solid 1px #eaeaea;
}

.manufacturer-list .manufacturer-list-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer-list .manufacturer-list-item:focus,
.manufacturer-list .manufacturer-list-item:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.5;
}

.logo-bosch img {
  padding: 1px 1px 0 0;
}

.logo-makita img {
  padding-bottom: 1px;
}

.logo-dewalt img {
  padding: 0 0 1px 1px;
}

.logo-interskol img {
  padding: 0 0 12px 1px;
}

.logo-hitachi img {
  padding: 1px 0 0 3px;
}

.logo-lg img {
  padding: 0 2px 2px 0;
}

.logo-aeg img {
  padding: 0 0 3px 3px;
}

.logo-metabo img {
  padding: 0 0 9px 8px;
}

.services {
  background-color: #f4f8fa;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.services h2 {
  margin-top: 65px;
  margin-bottom: 13px;
}

.services h2,
.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p,
.terms-delivery {
  width: 400px;
}

.services p,
.about-company p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-control,
.services-slides {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-control {
  position: relative;

  margin-top: 55px;
}

.services-control::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url("../img/service-separate.png");
}

.services-slides {
  margin-top: 20px;
  margin-left: 80px;
}

.services-slides li {
  display: none;
  min-width: 630px;
  min-height: 284px;
}

.services-slides .services-slide-show {
  display: block;
}

.services-slides .services-slide-delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 23px;
}

.services-slides .services-slide-guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 239px 0;
}

.services-slides .services-slide-credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 165px 0;
}

.services-control-toggle {
  width: 240px;
  padding: 16px 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  text-transform: none;

  background-color: #32425c;
  -webkit-box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.services-control-toggle:hover {
  background-color: #293449;
}

.services-control-toggle:focus {
  color: #32425c;

  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.services-control-item {
  margin-bottom: 1px;
}

.services-control-item:last-child {
  margin-bottom: 0;
}

.services-control-item:last-child button {
  padding-bottom: 14px;
}

.services-control-item button:hover {
  cursor: pointer;
}

.services-control-item-active .services-control-toggle {
  color: #32425c;

  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.services-slides h3 {
  margin-bottom: 22px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-slide-delivery p {
  width: 275px;
}

.services-slide-guarantee p {
  width: 375px;
}

.transport-list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 24px;
  padding-left: 36px;

  list-style-type: none;
  font-size: 18px;
  color: #000000;
}

.transport-list li {
  margin-bottom: 17px;
}

.transport-list li::before {
  content: "";
  position: absolute;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

/* end section popular-products about-company */

/* catalog */

.filters-and-catalog {
  margin-top: 20px;
  margin-bottom: 59px;
}

.filters-and-catalog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filters-and-catalog .filters {
  width: 220px;
}

.filters-and-catalog .catalog {
  width: 700px;
}

.filters-and-catalog h2 {
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 43px;

  font-family: "PT Sans", Arial, sans-serif;
}

.breadcrumbs {
  line-height: 18px;
}

.breadcrumbs a,
.breadcrumbs li:last-child {
  color: inherit;
  text-transform: uppercase;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -28px;

  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.svg") no-repeat;
}

.breadcrumbs .current::after {
  display: none;
}

.breadcrumbs-item:first-child a {
  display: block;
  width: 8px;
}

.breadcrumbs-item:first-child a::before {
  content: "";
  position: absolute;

  width: 14px;
  height: 12px;

  background: url("../img/icon-home.svg") no-repeat;
  -webkit-transform: translate(-2px, 4px);
  -ms-transform: translate(-2px, 4px);
  transform: translate(-2px, 4px);
}

.breadcrumbs:first-child a:focus::before {
  outline: auto;
  outline-color: #4d90fe;
}

.page-title {
  margin: 21px 0 0 0;
  padding: 30px 0 29px 28px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters-and-catalog .filters-title {
  margin: 0;
  padding: 10px 20px;

  font-weight: normal;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  color: inherit;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.parameter-filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.parameter-filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.parameter-filter ul {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  padding-left: 18px;

  list-style: none;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.parameter-filter input:disabled + label {
  color: rgba(0, 0, 0, 0.5);
}

.parameter-filter .filter-button {
  margin-top: 57px;
  padding: 9px 38px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: inherit;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
}

.parameter-filter .filter-button:hover {
  border-color: #bdc6ca;
  cursor: pointer;
}

.parameter-filter .filter-button:focus,
.parameter-filter .filter-button:active {
  border-color: #ee3643;
  outline: none;
}

.parameter-filter .price-range {
  position: relative;

  display: inline-block;
  width: 220px;
  height: 80px;
  margin-bottom: 10px;

  vertical-align: top;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.price-range .toggle-bar {
  width: 180px;
  height: 2px;
  margin: 39px auto;

  background-color: #d7dcde;
}

.toggle-bar .scale {
  width: 152px;
  height: 2px;

  background-color: #00cb75;
}

.price-range .min-toggle,
.price-range .max-toggle {
  position: absolute;

  width: 20px;
  height: 22px;

  background: url("../img/filter-button.svg") no-repeat;
  background-size: contain;
  cursor: pointer;
}

.price-range .min-toggle {
  top: 30px;
  left: 20px;
}

.price-range .max-toggle {
  top: 30px;
  right: 40px;
}

.price-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.price-input span {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;

  font-size: 16px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #444444;
}

.price-input .price-input-min,
.price-input .price-input-max {
  width: 95px;
  height: 36px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border: none;
  border-radius: 4px;
}

.parameter-filter .price-field,
.parameter-filter .manufacturer-field {
  border-bottom: 1px solid #e5e5e5;
}

.price-field legend {
  padding: 12px 0;
}

.manufacturer-field legend {
  padding-top: 16px;
}

.manufacturer-field-list li {
  margin-bottom: 20px;
}

.manufacturer-field-list input[type="checkbox"] {
  opacity: 0;
}

.manufacturer-field-list input[type="checkbox"]:active ~ label,
.manufacturer-field-list input[type="checkbox"]:focus ~ label,
.rechargeable-field-list input[type="radio"]:active ~ label,
.rechargeable-field-list input[type="radio"]:focus ~ label {
  outline-width: 1px;
  outline-style: auto;
  outline-color: rgb(77, 144, 254);
  outline-offset: -2px;
}

.manufacturer-field-list label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat;
  background-size: contain;
  -webkit-transform: translate(-35px, -2px);
  -ms-transform: translate(-35px, -2px);
  transform: translate(-35px, -2px);
  opacity: 0.8;
}

.manufacturer-field-list label:hover::before {
  opacity: 1;
}

input[type="checkbox"]:disabled ~ label::before {
  opacity: 0.3;
}

input[type="checkbox"]:checked ~ label::before {
  width: 27px;

  background: url("../img/checkbox-on.svg") no-repeat;
  background-size: contain;
}

.rechargeable-field legend {
  padding-top: 20px;
}

.rechargeable-field-list li {
  margin-bottom: 20px;
}

.rechargeable-field-list input[type="radio"] {
  opacity: 0;
}

.rechargeable-field-list label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  background: url("../img/radio-off.svg") no-repeat;
  background-size: contain;
  -webkit-transform: translate(-35px, -2px);
  -ms-transform: translate(-35px, -2px);
  transform: translate(-35px, -2px);
  opacity: 0.8;
}

.rechargeable-field-list label:hover::before {
  opacity: 1;
}

input[type="radio"]:disabled ~ label::before {
  opacity: 0.3;
}

input[type="radio"]:checked ~ label::before {
  width: 27px;

  background: url("../img/radio-on.svg") no-repeat;
  background-size: contain;
}

.sorting-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;

  background-color: #f7f3ec;
  border-radius: 4px;
}

.sorting-filter h2 {
  margin: 0;
  padding: 10px 20px;

  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  color: inherit;
  text-transform: uppercase;
}

.sorting-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 355px;
  margin: 0;
  margin-left: 74px;
  padding: 0;

  list-style: none;
}

.sorting-filter-list.sorting-filter-order {
  width: 60px;
  margin-left: 0;
}

.sorting-filter-list a {
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  border-bottom: 1px dotted #fc5a8d;
}

.sorting-filter-list a:hover {
  color: inherit;

  border-width: 1px;
  border-bottom-style: solid;
}

.sorting-filter-list a:focus,
.sorting-filter-list a:active,
.sorting-filter-active a {
  color: #fc5a8d;

  border-width: 0;
}

.sorting-filter-order li:last-child {
  margin-right: 17px;
}

.sorting-filter-order path {
  fill: #c5c5c5;
}

.sorting-filter-active path {
  fill: #fc5a8d;
}

.sorting-filter-order a,
.sorting-filter-order a:hover {
  border: 0;
}

.sorting-filter-order a:hover path {
  fill: #000000;
}

.up-dir svg {
  -webkit-transform: translate(0px, 1px);
  -ms-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}

.dawn-dir svg {
  -webkit-transform: translate(0px, 1px);
  -ms-transform: translate(0px, 1px);
  transform: translate(0px, 1px);
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.inner-page .catalog-list {
  margin-bottom: 33px;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item {
  position: relative;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.inner-page .catalog-item:nth-child(4n) {
  margin-right: 20px;
}

.catalog-item h3 {
  margin: 0 15px 12px 15px;

  font-size: 18px;
  line-height: 20px;
}

.catalog-item-image {
  margin: 0;
}

.price,
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.price {
  margin: 0 0 18px 0;
  padding: 12px 0;

  background: url("../img/red-button.svg") no-repeat;
  background-position: 42px 1px;
}

.old-price {
  height: 30px;
  margin: 0;

  color: #999999;
  text-decoration: line-through;
}

.purchase-menu {
  position: absolute;
  top: 43px;
  left: 41px;

  display: none;
  padding: 0;

  list-style: none;
}

.purchase-menu li {
  width: 135px;
  margin-bottom: 8px;
}

.purchase-menu .button-buy,
.purchase-menu .button-bookmarks {
  width: 100%;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;

  border-radius: 4px;
}

.purchase-menu .button-buy {
  padding: 10px 0;

  color: #ffffff;

  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.purchase-menu .button-buy:hover {
  background-color: #5fbb2d;
  outline: none;
  cursor: pointer;
}

.purchase-menu .button-buy:focus,
.purchase-menu .button-buy:active {
  background-color: #518534;
}

.purchase-menu .button-buy::before {
  content: "";
  position: absolute;
  left: 14px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat;
  opacity: 0.3;
}

.purchase-menu .button-buy:hover:before {
  opacity: 1;
}

.purchase-menu .button-bookmarks {
  padding: 7px 0;

  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.purchase-menu .button-bookmarks:hover {
  border: solid 3px #32425c;
  outline: none;
  cursor: pointer;
}

.purchase-menu .button-bookmarks:focus,
.purchase-menu .button-bookmarks:active {
  border: solid 3px #32425c;
  opacity: 0.3;
}

.catalog-item:hover .purchase-menu {
  display: block;
}

.catalog-item:hover .catalog-item-image {
  -webkit-transform: translate(220px);
  -ms-transform: translate(220px);
  transform: translate(220px);
}

.paginaction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 285px;
  margin: 0;
  padding: 7px 0;

  list-style: none;
}

.paginaction-list a {
  padding: 11px 15px;

  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: inherit;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.paginaction-list a:hover {
  border-color: #bdc6ca;
}

.paginaction-list a:focus,
.paginaction-list a:active {
  border-color: #fc5a8d;
  outline: none;
}

.paginaction-item-active a {
  padding: 12px 16px;

  color: #ffffff;

  background-color: #ee3643;
  border-width: 0;
}

.paginaction-item:last-child a {
  padding: 10px 30px;
}

.about-rotaryhammers {
  background-color: #f4f7f9;
}

.about-rotaryhammers .container {
  padding: 65px 0 68px 0;
}

.about-rotaryhammers h2 {
  margin-top: 0;
  margin-bottom: 26px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-rotaryhammers p {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
}

/* end catalog */

/* footer */

.footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 95px;
}

.footer-logo {
  height: 63px;
}

.footer-logo img {
  padding-top: 20px;
}

.footer-middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer {
  background-color: #32425c;
}

.footer-navigation,
.information-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 18px;
}

.footer-navigation a {
  display: block;
  padding: 38px 30px;

  color: #f1f5f7;

  outline: none;
}

.information-menu a {
  display: block;
  padding: 0 30px;

  outline: none;
}

.footer-navigation-item:nth-child(5n+5) a,
.information-menu-item:nth-child(4n+4) a {
  padding-right: 0;
}

.footer-navigation a:hover,
.information-menu a:hover,
.footer-feedback a:hover,
.footer-developed a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.information-menu a:focus {
  color: rgba(255, 209, 128, 0.5);
}

.information-menu a {
  color: #ffd180;
}

.footer-middle p,
.footer-middle a {
  font-size: 18px;
}

.footer-middle p {
  width: 325px;
  margin: 0;
  margin-bottom: 50px;
  margin-left: 3px;

  color: #f3f7f8;
}

.footer-phone {
  color: #f3f7f8;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .footer-copyright {
  width: 230px;
  margin-top: 37px;
  margin-bottom: 34px;

  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 132px;
  margin-top: 15px;
  margin-left: 110px;
  padding: 0;

  list-style: none;
}

.social-links a {
  display: block;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active {
  background-color: #ee3643;
  outline: none;
}

.social-links .vk:before,
.social-links .fb:before,
.social-links .in:before {
  content: "";
  position: absolute;

  width: 21px;
  height: 21px;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.social-links .vk:before {
  background-image: url("../img/icon-vk.svg");
}

.social-links .fb:before {
  background-image: url("../img/icon-fb.svg");
}

.social-links .in:before {
  background-image: url("../img/icon-insta.svg");
}

.footer-feedback {
  width: 140px;
  margin-left: 70px;
}

.footer-developed {
  width: 111px;
}

.footer-feedback,
.footer-developed {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-feedback a,
.footer-developed a {
  color: #ffd180;
}

.footer-feedback a:focus,
.footer-developed a:focus {
  color: #ee3643;
}

/* end footer */

/* Лента new */

.ribbons {
  position: relative;
}

.ribbon {
  position: absolute;
  top: -96px;
  right: -21px;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #ffffff;

  border-style: solid;
  border-top-width: 27px;
  border-right-width: 40px;
  border-bottom-width: 0;
  border-left-width: 40px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ribbon span {
  position: absolute;
  top: -27px;
  right: -14px;
}

.ribbon.red {
  border-color: #ff0000;
}

.catalog-item .ribbon {
  top: -311px;
}

/* end Лента new */

/* modal */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;

  display: none;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-map {
  top: 120px;
  left: 50%;

  height: 446px;
  margin-left: -470px;

  -webkit-box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  height: 446px;
  margin: 0;
}

.modal-map .button-close,
.modal-feedback .button-close,
.modal-add-cart .button-close,
.modal-authorization .button-close {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0;

  background: none;
}

.modal-map .button-close::before,
.modal-feedback .button-close::before,
.modal-add-cart .button-close::before,
.modal-authorization .button-close::before {
  content: "";
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 3;

  width: 21px;
  height: 21px;

  background: url("../img/icon-close.svg") no-repeat;
  background-size: contain;
}

.button-close:hover {
  cursor: pointer;
}

.modal-feedback,
.modal-authorization,
.modal-add-cart {
  top: 120px;
  left: 50%;

  width: 620px;
  margin-left: -310px;

  background-color: #ffffff;
  border-top: 7px solid #ff5256;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-feedback form,
.modal-authorization form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-feedback .form-top,
.modal-authorization .form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 55px 80px 23px 80px;
}

.modal-feedback .form-field,
.modal-authorization .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 220px;
  margin-bottom: 20px;
}

.modal-feedback .form-field:last-child,
.modal-authorization .form-field:last-child {
  width: 100%;
}

.form-field label {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 18px;
}

.form-field textarea {
  padding-top: 15px;
}

.form-field input,
.form-field textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 16px;

  font-family: "PT Sans", Arial, sans-serif;
  color: #a9a9a9;

  border: solid 2px #dee3e4;
  border-radius: 4px;
}

.form-field input {
  height: 38px;
}

.form-field input[type="text"]:hover,
.form-field textarea:hover {
  border-color: #b5b5b5;
}

.form-field input[type="text"]:focus,
.form-field input[type="text"]:active,
.form-field textarea:focus,
.form-field textarea:active {
  border-color: #ff5256;
  outline: none;
}

.form-field textarea::-webkit-input-placeholder {
  padding-top: 10px;

  color: #a9a9a9;
}

.form-field textarea::-moz-placeholder {
  padding-top: 10px;

  color: #a9a9a9;
}

.form-field textarea:-ms-input-placeholder {
  padding-top: 10px;

  color: #a9a9a9;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  padding-top: 10px;

  color: #a9a9a9;
}

.form-bottom {
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.form-bottom .button-red {
  width: 100%;
}

.modal-add-cart {
  width: 620px;
  height: 275px;

  background-color: #ffffff;
  border-top: 7px solid #ff5256;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-add-cart h2 {
  margin: 0;
  padding: 71px 0 68px 175px;

  font-size: 30px;
  line-height: 30px;
}

.modal-add-cart h2::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 78px;

  width: 66px;
  height: 66px;

  background: url("../img/icon-mark.svg") no-repeat;
}

.add-cart-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 44px 80px;

  background-color: #f4f4f4;
}

.add-cart-bottom .button {
  width: 140px;
}

/* end modal */
